{% extends 'crud/base.html' %}

{% block title %}{{mascotasTipo.id}}{% endblock %}

{% load static %}

{% block main_content %}
<div class="container my-4">
    <div class="row mb-3">
        <h1>ID: {{mascotasTipo.id}}</h1>
    </div>
    <div class="row">   
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-2">Id de tipo de mascota: <p class="fw-bold">{{mascotasTipo.id}}</p></li>
                        <li class="mb-2">Tipo de mascota: <p class="fw-bold">{{mascotasTipo.mascotType}}</p></li>
                        <li class="mb-2 text-muted fst-italic">Registrado: <p class="fw-bold">{{mascotasTipo.created_at}}</p></li>
                        <li class="mb-2 text-muted fst-italic">Última actualización: <p class="fw-bold">{{mascotasTipo.updated_at}}</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-outline-primary" href="{% url 'mascotasType' %}">Volver</a>
        </div>
        <div class="col-2">
            <a class="btn btn-outline-secondary" href="{% url 'mascotasType-edit' mascotasTipo_id=mascotasTipo.id %}">Editar</a>
        </div>
        <div class="col-2">
            <a class="btn btn-outline-danger modal-borrar" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-href="{% url 'mascotasType-delete' mascotasTipo_id=mascotasTipo.id %}">Eliminar</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mensajes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-title">¿Estas seguro que deseas eliminar la mascota seleccionada?<br>Esta acción no se puede deshacer.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No estoy seguro, vuelve atras</button>
                <a class="btn btn-danger" id="confirmar-borrar" href="#">Estoy seguro, borrala</a>
            </div>
        </div>
    </div>
</div>  

{% endblock %}

{% block extra_js %}
<script>
    $('.modal-borrar').on('click',function(){
        const href = $(this).attr('data-href');
        $('#confirmar-borrar').attr('href',href);
    });
</script>
{% endblock %}